<div class = "container">
{{#each articles }}
<div class="card">
  <div class="card-header">
    Article
  </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{link}}</p>
    <button type="button" class="btn btn-danger delete" id={{id}}>Delete</button>
    <button type="button" id = {{id}} class="btn btn-warning">Add A Note</button>
  </div>
</div>
{{else}}
<p>No saved articles</p>
{{/each}}

</div>